<a href="https://colab.research.google.com/github/DanielJ8/PortfolioProjects/blob/main/Stock_Price_Analysis_with_Spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Stock Price Analysis using Spark**

Stock Data contains Ticker,Date,Closing Price of the Stock Volume, Open, High and Low for about 10 most popular price stocks on NYSE along with popular indexes like QQQ and SPY for 5 years (06/2018 - 05/2023)

 **1.Reading and Cleaning Stock Price Data**

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 865.5 kB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=7c2f71ede4d0a2bfc0cd562c55380f03e459b2b6c75bad46234eb4921c5d623b
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("Stock Price Analysis").getOrCreate()

In [ ]:
#Reading Multiple CSV files
file_paths = ["AAPL.csv", "AMZN.csv", "BRK-B.csv","GOOGL.csv", "META.csv","MSFT.csv", "NVDA.csv","QQQ.csv", "SPY.csv","TSLA.csv", "TSM.csv","V.csv"]
stocks = spark.read.csv(file_paths, header=True, inferSchema=True)

In [ ]:
#Showing Dataframe
stocks.show()

+------+----------+----------+-------+--------+--------+--------+
|Ticker|      Date|Close/Last| Volume|    Open|    High|     Low|
+------+----------+----------+-------+--------+--------+--------+
| BRK-B|05/31/2023|  $321.08 |6175417|$321.12 |$322.41 |$319.39 |
| BRK-B|05/30/2023|  $322.19 |3232461|$321.86 |$322.47 |$319.00 |
| BRK-B|05/26/2023|  $320.60 |3229873|$320.44 |$322.63 |$319.67 |
| BRK-B|05/25/2023|  $319.02 |4251935|$320.56 |$320.56 |$317.71 |
| BRK-B|05/24/2023|  $320.20 |3075393|$322.71 |$323.00 |$319.56 |
| BRK-B|05/23/2023|  $323.11 |4031342|$328.19 |$329.27 |$322.97 |
| BRK-B|05/22/2023|  $329.13 |2763422|$330.75 |$331.49 |$328.35 |
| BRK-B|05/19/2023|  $330.39 |4323538|$331.00 |$333.94 |$329.12 |
| BRK-B|05/18/2023|  $329.76 |2808329|$326.87 |$329.98 |$325.85 |
| BRK-B|05/17/2023|  $327.39 |3047626|$325.02 |$328.26 |$324.82 |
| BRK-B|05/16/2023|  $323.75 |2139996|$322.46 |$324.69 |$322.36 |
| BRK-B|05/15/2023|  $323.53 |2191609|$322.89 |$323.83 |$320.13 |
| BRK-B|05/12/2023|  $322.49 |1938264|$323.82 |$324.24 |$320.54 |
| BRK-B|05/11/2023|  $322.64 |2549339|$321.00 |$322.96 |$319.81 |
| BRK-B|05/10/2023|  $322.99 |2641134|$326.08 |$326.16 |$320.15 |
| BRK-B|05/09/2023|  $324.87 |2285924|$324.87 |$326.88 |$323.48 |
| BRK-B|05/08/2023|  $326.14 |3303393|$328.26 |$330.69 |$325.79 |
| BRK-B|05/05/2023|  $323.88 |3876299|$323.36 |$325.16 |$322.62 |
| BRK-B|05/04/2023|  $320.00 |3194768|$323.44 |$325.99 |$317.41 |
| BRK-B|05/03/2023|  $323.22 |2660456|$327.13 |$328.07 |$323.06 |
+------+----------+----------+-------+--------+--------+--------+
only showing top 20 rows

In [ ]:
# Showing DataTypes in Dataframe
stocks.printSchema()

root
 |-- Ticker: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Close/Last: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)

#Select Operations

In [ ]:
stocks.select("Ticker").show(3) #Showing First 3 values

+------+
|Ticker|
+------+
| BRK-B|
| BRK-B|
| BRK-B|
+------+
only showing top 3 rows

In [ ]:
stocks.select("Ticker","Date","Open").show(5) #Showing first 5 values from 3 columns

+------+----------+--------+
|Ticker|      Date|    Open|
+------+----------+--------+
| BRK-B|05/31/2023|$321.12 |
| BRK-B|05/30/2023|$321.86 |
| BRK-B|05/26/2023|$320.44 |
| BRK-B|05/25/2023|$320.56 |
| BRK-B|05/24/2023|$322.71 |
+------+----------+--------+
only showing top 5 rows

In [ ]:
#Filtering Data
stocks.filter(stocks.Ticker == "MSFT").show(10) #showing first 10 rows of Microsoft stocks

+------+----------+----------+--------+--------+--------+--------+
|Ticker|      Date|Close/Last|  Volume|    Open|    High|     Low|
+------+----------+----------+--------+--------+--------+--------+
|  MSFT|05/31/2023|  $328.39 |45950550|$332.29 |$335.94 |$327.33 |
|  MSFT|05/30/2023|  $331.21 |29503070|$335.23 |$335.74 |$330.52 |
|  MSFT|05/26/2023|  $332.89 |36630630|$324.02 |$333.40 |$323.88 |
|  MSFT|05/25/2023|  $325.92 |43301740|$323.24 |$326.90 |$320.00 |
|  MSFT|05/24/2023|  $313.85 |23384890|$314.73 |$316.50 |$312.61 |
|  MSFT|05/23/2023|  $315.26 |30797170|$320.03 |$322.72 |$315.25 |
|  MSFT|05/22/2023|  $321.18 |24115660|$318.60 |$322.59 |$318.01 |
|  MSFT|05/19/2023|  $318.34 |27546700|$316.74 |$318.75 |$316.37 |
|  MSFT|05/18/2023|  $318.52 |27275990|$314.53 |$319.04 |$313.72 |
|  MSFT|05/17/2023|  $314.00 |24315010|$312.29 |$314.43 |$310.74 |
+------+----------+----------+--------+--------+--------+--------+
only showing top 10 rows

In [ ]:
#Showing Microsoft stocks on 31/5/2023
stocks.filter((stocks.Ticker == "MSFT") & (stocks.Date == "05/31/2023")).show()

+------+----------+----------+--------+--------+--------+--------+
|Ticker|      Date|Close/Last|  Volume|    Open|    High|     Low|
+------+----------+----------+--------+--------+--------+--------+
|  MSFT|05/31/2023|  $328.39 |45950550|$332.29 |$335.94 |$327.33 |
+------+----------+----------+--------+--------+--------+--------+

In [ ]:
#Showing Microsoft and Visa stocks on 31/5/2023
stocks.filter(((stocks.Ticker == "MSFT")|(stocks.Ticker == "V")) & (stocks.Date == "05/31/2023")).show()

+------+----------+----------+--------+--------+--------+--------+
|Ticker|      Date|Close/Last|  Volume|    Open|    High|     Low|
+------+----------+----------+--------+--------+--------+--------+
|  MSFT|05/31/2023|  $328.39 |45950550|$332.29 |$335.94 |$327.33 |
|     V|05/31/2023|  $221.03 |20460620|$219.96 |$221.53 |$216.14 |
+------+----------+----------+--------+--------+--------+--------+

In [ ]:
#Showing Multiple stocks on 31/5/2023
stocks.filter((stocks.Ticker.isin(["MSFT",'QQQ','SPY','V','TSLA'])) & (stocks.Date == "05/31/2023")).show()

+------+----------+----------+---------+--------+--------+--------+
|Ticker|      Date|Close/Last|   Volume|    Open|    High|     Low|
+------+----------+----------+---------+--------+--------+--------+
|  MSFT|05/31/2023|  $328.39 | 45950550|$332.29 |$335.94 |$327.33 |
|  TSLA|05/31/2023|  $203.93 |150711700|$199.78 |$203.95 |$195.12 |
|     V|05/31/2023|  $221.03 | 20460620|$219.96 |$221.53 |$216.14 |
|   SPY|05/31/2023|    417.85|110811800|  418.28|  419.22|  416.22|
|   QQQ|05/31/2023|    347.99| 65105380|  348.37|   350.6|  346.51|
+------+----------+----------+---------+--------+--------+--------+

In [ ]:
# User Defined Functions
stocks.printSchema()

root
 |-- Ticker: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Close/Last: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import DateType
from datetime import datetime

In [ ]:
#Stripping date from string type and convert into datetype and return spark native date type
date_parser = udf(lambda date: datetime.strptime(date,"%m/%d/%Y"), DateType())

In [ ]:
#Create new column with new date type
stocks =stocks.withColumn("ParsedDate", date_parser(stocks.Date))

In [ ]:
stocks.show(3)

+------+----------+----------+-------+--------+--------+--------+----------+
|Ticker|      Date|Close/Last| Volume|    Open|    High|     Low|ParsedDate|
+------+----------+----------+-------+--------+--------+--------+----------+
| BRK-B|05/31/2023|  $321.08 |6175417|$321.12 |$322.41 |$319.39 |2023-05-31|
| BRK-B|05/30/2023|  $322.19 |3232461|$321.86 |$322.47 |$319.00 |2023-05-30|
| BRK-B|05/26/2023|  $320.60 |3229873|$320.44 |$322.63 |$319.67 |2023-05-26|
+------+----------+----------+-------+--------+--------+--------+----------+
only showing top 3 rows

In [ ]:
stocks.printSchema()

root
 |-- Ticker: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Close/Last: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- ParsedDate: date (nullable = true)

In [ ]:
from pyspark.sql.types import FloatType

In [ ]:
# Extracting "$" from columns
def num_parser(value):
  if isinstance(value, str): #if string format
    return float(value.strip("$")) #stripping $ and converting into float
  elif isinstance(value, int) or isinstance(value, float): #dont disturb if it is integer or float type
    return value
  else:
    return None

parser_number = udf(num_parser, FloatType())

In [ ]:
stocks = (stocks.withColumn("Open", parser_number(stocks.Open))
               .withColumn("Close", parser_number(stocks["Close/Last"]))
               .withColumn("High", parser_number(stocks.High))
               .withColumn("Low", parser_number(stocks.Low)))

In [ ]:
stocks.show()

+------+----------+----------+-------+------+------+------+----------+------+
|Ticker|      Date|Close/Last| Volume|  Open|  High|   Low|ParsedDate| Close|
+------+----------+----------+-------+------+------+------+----------+------+
| BRK-B|05/31/2023|  $321.08 |6175417|321.12|322.41|319.39|2023-05-31|321.08|
| BRK-B|05/30/2023|  $322.19 |3232461|321.86|322.47| 319.0|2023-05-30|322.19|
| BRK-B|05/26/2023|  $320.60 |3229873|320.44|322.63|319.67|2023-05-26| 320.6|
| BRK-B|05/25/2023|  $319.02 |4251935|320.56|320.56|317.71|2023-05-25|319.02|
| BRK-B|05/24/2023|  $320.20 |3075393|322.71| 323.0|319.56|2023-05-24| 320.2|
| BRK-B|05/23/2023|  $323.11 |4031342|328.19|329.27|322.97|2023-05-23|323.11|
| BRK-B|05/22/2023|  $329.13 |2763422|330.75|331.49|328.35|2023-05-22|329.13|
| BRK-B|05/19/2023|  $330.39 |4323538| 331.0|333.94|329.12|2023-05-19|330.39|
| BRK-B|05/18/2023|  $329.76 |2808329|326.87|329.98|325.85|2023-05-18|329.76|
| BRK-B|05/17/2023|  $327.39 |3047626|325.02|328.26|324.82|2023-05-17|327.39|
| BRK-B|05/16/2023|  $323.75 |2139996|322.46|324.69|322.36|2023-05-16|323.75|
| BRK-B|05/15/2023|  $323.53 |2191609|322.89|323.83|320.13|2023-05-15|323.53|
| BRK-B|05/12/2023|  $322.49 |1938264|323.82|324.24|320.54|2023-05-12|322.49|
| BRK-B|05/11/2023|  $322.64 |2549339| 321.0|322.96|319.81|2023-05-11|322.64|
| BRK-B|05/10/2023|  $322.99 |2641134|326.08|326.16|320.15|2023-05-10|322.99|
| BRK-B|05/09/2023|  $324.87 |2285924|324.87|326.88|323.48|2023-05-09|324.87|
| BRK-B|05/08/2023|  $326.14 |3303393|328.26|330.69|325.79|2023-05-08|326.14|
| BRK-B|05/05/2023|  $323.88 |3876299|323.36|325.16|322.62|2023-05-05|323.88|
| BRK-B|05/04/2023|  $320.00 |3194768|323.44|325.99|317.41|2023-05-04| 320.0|
| BRK-B|05/03/2023|  $323.22 |2660456|327.13|328.07|323.06|2023-05-03|323.22|
+------+----------+----------+-------+------+------+------+----------+------+
only showing top 20 rows

In [ ]:
stocks.printSchema()

root
 |-- Ticker: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Close/Last: string (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Open: float (nullable = true)
 |-- High: float (nullable = true)
 |-- Low: float (nullable = true)
 |-- ParsedDate: date (nullable = true)
 |-- Close: float (nullable = true)

In [ ]:
#Deleting Column
stocks = stocks.drop("Close/Last")

In [ ]:
stocks.show()

+------+----------+-------+------+------+------+----------+------+
|Ticker|      Date| Volume|  Open|  High|   Low|ParsedDate| Close|
+------+----------+-------+------+------+------+----------+------+
| BRK-B|05/31/2023|6175417|321.12|322.41|319.39|2023-05-31|321.08|
| BRK-B|05/30/2023|3232461|321.86|322.47| 319.0|2023-05-30|322.19|
| BRK-B|05/26/2023|3229873|320.44|322.63|319.67|2023-05-26| 320.6|
| BRK-B|05/25/2023|4251935|320.56|320.56|317.71|2023-05-25|319.02|
| BRK-B|05/24/2023|3075393|322.71| 323.0|319.56|2023-05-24| 320.2|
| BRK-B|05/23/2023|4031342|328.19|329.27|322.97|2023-05-23|323.11|
| BRK-B|05/22/2023|2763422|330.75|331.49|328.35|2023-05-22|329.13|
| BRK-B|05/19/2023|4323538| 331.0|333.94|329.12|2023-05-19|330.39|
| BRK-B|05/18/2023|2808329|326.87|329.98|325.85|2023-05-18|329.76|
| BRK-B|05/17/2023|3047626|325.02|328.26|324.82|2023-05-17|327.39|
| BRK-B|05/16/2023|2139996|322.46|324.69|322.36|2023-05-16|323.75|
| BRK-B|05/15/2023|2191609|322.89|323.83|320.13|2023-05-15|323.53|
| BRK-B|05/12/2023|1938264|323.82|324.24|320.54|2023-05-12|322.49|
| BRK-B|05/11/2023|2549339| 321.0|322.96|319.81|2023-05-11|322.64|
| BRK-B|05/10/2023|2641134|326.08|326.16|320.15|2023-05-10|322.99|
| BRK-B|05/09/2023|2285924|324.87|326.88|323.48|2023-05-09|324.87|
| BRK-B|05/08/2023|3303393|328.26|330.69|325.79|2023-05-08|326.14|
| BRK-B|05/05/2023|3876299|323.36|325.16|322.62|2023-05-05|323.88|
| BRK-B|05/04/2023|3194768|323.44|325.99|317.41|2023-05-04| 320.0|
| BRK-B|05/03/2023|2660456|327.13|328.07|323.06|2023-05-03|323.22|
+------+----------+-------+------+------+------+----------+------+
only showing top 20 rows

In [ ]:
cleaned_stocks = stocks.select(["Ticker","ParsedDate","Volume","Open","Low","High","Close"])

In [ ]:
cleaned_stocks.show()

+------+----------+-------+------+------+------+------+
|Ticker|ParsedDate| Volume|  Open|   Low|  High| Close|
+------+----------+-------+------+------+------+------+
| BRK-B|2023-05-31|6175417|321.12|319.39|322.41|321.08|
| BRK-B|2023-05-30|3232461|321.86| 319.0|322.47|322.19|
| BRK-B|2023-05-26|3229873|320.44|319.67|322.63| 320.6|
| BRK-B|2023-05-25|4251935|320.56|317.71|320.56|319.02|
| BRK-B|2023-05-24|3075393|322.71|319.56| 323.0| 320.2|
| BRK-B|2023-05-23|4031342|328.19|322.97|329.27|323.11|
| BRK-B|2023-05-22|2763422|330.75|328.35|331.49|329.13|
| BRK-B|2023-05-19|4323538| 331.0|329.12|333.94|330.39|
| BRK-B|2023-05-18|2808329|326.87|325.85|329.98|329.76|
| BRK-B|2023-05-17|3047626|325.02|324.82|328.26|327.39|
| BRK-B|2023-05-16|2139996|322.46|322.36|324.69|323.75|
| BRK-B|2023-05-15|2191609|322.89|320.13|323.83|323.53|
| BRK-B|2023-05-12|1938264|323.82|320.54|324.24|322.49|
| BRK-B|2023-05-11|2549339| 321.0|319.81|322.96|322.64|
| BRK-B|2023-05-10|2641134|326.08|320.15|326.16|322.99|
| BRK-B|2023-05-09|2285924|324.87|323.48|326.88|324.87|
| BRK-B|2023-05-08|3303393|328.26|325.79|330.69|326.14|
| BRK-B|2023-05-05|3876299|323.36|322.62|325.16|323.88|
| BRK-B|2023-05-04|3194768|323.44|317.41|325.99| 320.0|
| BRK-B|2023-05-03|2660456|327.13|323.06|328.07|323.22|
+------+----------+-------+------+------+------+------+
only showing top 20 rows

In [ ]:
# Showing overall basic statistics regarding data
cleaned_stocks.describe(["Volume","Open","Low","High","Close"]).show()

+-------+--------------------+------------------+------------------+------------------+------------------+
|summary|              Volume|              Open|               Low|              High|             Close|
+-------+--------------------+------------------+------------------+------------------+------------------+
|  count|               15108|             15108|             15108|             15108|             15108|
|   mean|5.1868408793685466E7|180.09656566181036| 177.9982781513109| 182.1253348687101| 180.1256089860054|
| stddev| 5.496484129953464E7|101.16125813324383|100.26590135955234|101.96625521621753|101.14891782168543|
|    min|              961133|             12.07|              11.8|             12.45|             11.93|
|    max|           914080943|            479.22|            476.06|            479.98|            477.71|
+-------+--------------------+------------------+------------------+------------------+------------------+

**2.Basic Stock Analysis**

In [ ]:
# Calculate maximum stock price for various stocks
cleaned_stocks.groupBy("Ticker").max("Open").show()

+------+---------+
|Ticker|max(Open)|
+------+---------+
| BRK-B|   361.39|
|  AAPL|   182.63|
|  META|   381.68|
|  TSLA|   411.47|
|  AMZN|    187.2|
|  MSFT|   344.62|
|   TSM|   141.61|
|   QQQ|   405.57|
|     V|   250.05|
| GOOGL|   151.25|
|   SPY|   479.22|
|  NVDA|   405.95|
+------+---------+

In [ ]:
cleaned_stocks.groupBy("Ticker").max("Open").withColumnRenamed("max(Open)","MaxStockPrice").show() #Renaming column

+------+-------------+
|Ticker|MaxStockPrice|
+------+-------------+
| BRK-B|       361.39|
|  AAPL|       182.63|
|  META|       381.68|
|  TSLA|       411.47|
|  AMZN|        187.2|
|  MSFT|       344.62|
|   TSM|       141.61|
|   QQQ|       405.57|
|     V|       250.05|
| GOOGL|       151.25|
|   SPY|       479.22|
|  NVDA|       405.95|
+------+-------------+

In [ ]:
import pyspark.sql.functions as func
cleaned_stocks.groupBy("Ticker").agg(func.max("Open").alias("MaxStockPrice")).show() #aggregrate function

+------+-------------+
|Ticker|MaxStockPrice|
+------+-------------+
| BRK-B|       361.39|
|  AAPL|       182.63|
|  META|       381.68|
|  TSLA|       411.47|
|  AMZN|        187.2|
|  MSFT|       344.62|
|   TSM|       141.61|
|   QQQ|       405.57|
|     V|       250.05|
| GOOGL|       151.25|
|   SPY|       479.22|
|  NVDA|       405.95|
+------+-------------+

In [ ]:
#2 aggregrate functions to show Max Stock Price and Total Volume
cleaned_stocks.groupBy("Ticker").agg(
    func.max("Open").alias("MaxStockPrice"),
    func.sum("Volume").alias("TotalVolume")
).show()

+------+-------------+------------+
|Ticker|MaxStockPrice| TotalVolume|
+------+-------------+------------+
| BRK-B|       361.39|  5862401321|
|  AAPL|       182.63|139310061360|
|  META|       381.68| 30148848043|
|  TSLA|       411.47|171802975076|
|  AMZN|        187.2|104503287430|
|  MSFT|       344.62| 37976660472|
|   TSM|       141.61| 12506470104|
|   QQQ|       405.57| 60437153773|
|     V|       250.05| 10410997871|
| GOOGL|       151.25| 43956560981|
|   SPY|       479.22|107925285300|
|  NVDA|       405.95| 58787218324|
+------+-------------+------------+

In [ ]:
#Splitting date component to determine "highest/lowest" "opening/closing" price in that particular year/month/day
cleaned_stocks = (cleaned_stocks.withColumn('Year', func.year(cleaned_stocks.ParsedDate))
                                .withColumn('Month', func.month(cleaned_stocks.ParsedDate))
                                .withColumn('Day', func.dayofmonth(cleaned_stocks.ParsedDate))
                                .withColumn('Week', func.weekofyear(cleaned_stocks.ParsedDate))
)

In [ ]:
cleaned_stocks.show(10)

+------+----------+-------+------+------+------+------+----+-----+---+----+
|Ticker|ParsedDate| Volume|  Open|   Low|  High| Close|Year|Month|Day|Week|
+------+----------+-------+------+------+------+------+----+-----+---+----+
| BRK-B|2023-05-31|6175417|321.12|319.39|322.41|321.08|2023|    5| 31|  22|
| BRK-B|2023-05-30|3232461|321.86| 319.0|322.47|322.19|2023|    5| 30|  22|
| BRK-B|2023-05-26|3229873|320.44|319.67|322.63| 320.6|2023|    5| 26|  21|
| BRK-B|2023-05-25|4251935|320.56|317.71|320.56|319.02|2023|    5| 25|  21|
| BRK-B|2023-05-24|3075393|322.71|319.56| 323.0| 320.2|2023|    5| 24|  21|
| BRK-B|2023-05-23|4031342|328.19|322.97|329.27|323.11|2023|    5| 23|  21|
| BRK-B|2023-05-22|2763422|330.75|328.35|331.49|329.13|2023|    5| 22|  21|
| BRK-B|2023-05-19|4323538| 331.0|329.12|333.94|330.39|2023|    5| 19|  20|
| BRK-B|2023-05-18|2808329|326.87|325.85|329.98|329.76|2023|    5| 18|  20|
| BRK-B|2023-05-17|3047626|325.02|324.82|328.26|327.39|2023|    5| 17|  20|
+------+----------+-------+------+------+------+------+----+-----+---+----+
only showing top 10 rows

In [ ]:
#Showing Yearly High and Low for each year
yearly = (
    cleaned_stocks
    .groupBy('Ticker', 'Year')
    .agg(
        func.max("Open").alias("YearlyHigh"),
        func.min("Open").alias("YearlyLow")
    )
    .orderBy('Ticker', 'Year')  # Sort by 'Ticker' and 'Year'
)

In [ ]:
yearly.show()

+------+----+----------+---------+
|Ticker|Year|YearlyHigh|YearlyLow|
+------+----+----------+---------+
|  AAPL|2018|      57.7|    37.04|
|  AAPL|2019|     72.78|     36.0|
|  AAPL|2020|    138.05|    57.02|
|  AAPL|2021|    181.12|   119.03|
|  AAPL|2022|    182.63|   127.99|
|  AAPL|2023|    177.33|   126.01|
|  AMZN|2018|    101.91|     67.3|
|  AMZN|2019|    101.28|    73.26|
|  AMZN|2020|    177.35|    82.08|
|  AMZN|2021|     187.2|   150.25|
|  AMZN|2022|    170.44|     82.8|
|  AMZN|2023|    122.37|    83.03|
| BRK-B|2018|     224.0|   185.43|
| BRK-B|2019|    227.27|   194.78|
| BRK-B|2020|    233.92|    165.3|
| BRK-B|2021|    300.88|   228.21|
| BRK-B|2022|    361.39|   260.58|
| BRK-B|2023|     331.0|   294.68|
| GOOGL|2018|     64.46|    49.22|
| GOOGL|2019|      68.2|    51.36|
+------+----+----------+---------+
only showing top 20 rows

In [ ]:
#Showing Monthly High and Low for each year
monthly = (
    cleaned_stocks
    .groupBy('Ticker', 'Year', 'Month')
    .agg(
        func.max("Open").alias("MonthHigh"),
        func.min("Open").alias("MonthLow")
    )
    .orderBy('Ticker', 'Year', 'Month')  # Sort by 'Ticker', 'Year' and 'Month'
)

In [ ]:
monthly.show()

+------+----+-----+---------+--------+
|Ticker|Year|Month|MonthHigh|MonthLow|
+------+----+-----+---------+--------+
|  AAPL|2018|    5|    46.81|   46.81|
|  AAPL|2018|    6|    48.54|   45.75|
|  AAPL|2018|    7|    48.75|   45.96|
|  AAPL|2018|    8|    56.63|   49.78|
|  AAPL|2018|    9|    57.25|   54.21|
|  AAPL|2018|   10|     57.7|   52.79|
|  AAPL|2018|   11|    54.76|   42.88|
|  AAPL|2018|   12|    46.12|   37.04|
|  AAPL|2019|    1|    41.53|    36.0|
|  AAPL|2019|    2|    43.66|   41.74|
|  AAPL|2019|    3|    48.84|   42.58|
|  AAPL|2019|    4|    51.84|   47.77|
|  AAPL|2019|    5|    52.72|   44.06|
|  AAPL|2019|    6|    50.09|   43.86|
|  AAPL|2019|    7|    54.11|    49.8|
|  AAPL|2019|    8|    53.48|   48.85|
|  AAPL|2019|    9|     56.2|   51.61|
|  AAPL|2019|   10|    62.24|   54.61|
|  AAPL|2019|   11|    66.98|   62.39|
|  AAPL|2019|   12|    72.78|   64.58|
+------+----+-----+---------+--------+
only showing top 20 rows

In [ ]:
#Showing Weekly High and Low for each year
weekly = (
    cleaned_stocks
    .groupBy('Ticker', 'Year', 'Week')
    .agg(
        func.max("Open").alias("WeekHigh"),
        func.min("Open").alias("WeekLow")
    )
    .orderBy('Ticker', 'Year', 'Week')  # Sort by 'Ticker', 'Year' and 'Week'
)

In [ ]:
weekly.show()

+------+----+----+--------+-------+
|Ticker|Year|Week|WeekHigh|WeekLow|
+------+----+----+--------+-------+
|  AAPL|2018|   1|   39.63|  39.63|
|  AAPL|2018|  22|    47.0|  46.81|
|  AAPL|2018|  23|   48.54|  47.79|
|  AAPL|2018|  24|   48.11|  47.51|
|  AAPL|2018|  25|   46.97|  46.29|
|  AAPL|2018|  26|   46.57|  45.75|
|  AAPL|2018|  27|   46.95|  45.96|
|  AAPL|2018|  28|   47.77|  47.13|
|  AAPL|2018|  29|   47.95|  47.42|
|  AAPL|2018|  30|   48.75|  47.67|
|  AAPL|2018|  31|   51.76|  47.58|
|  AAPL|2018|  32|   52.33|  51.51|
|  AAPL|2018|  33|   53.36|  51.93|
|  AAPL|2018|  34|   54.53|  53.53|
|  AAPL|2018|  35|   56.63|  54.29|
|  AAPL|2018|  36|   57.25|  55.46|
|  AAPL|2018|  37|   56.44|   54.5|
|  AAPL|2018|  38|   55.54|  54.45|
|  AAPL|2018|  39|    56.2|  54.21|
|  AAPL|2018|  40|    57.7|  56.81|
+------+----+----+--------+-------+
only showing top 20 rows

In [ ]:
#Differences between High and Low in a  Week
weekly.withColumn('Spread',weekly['WeekHigh']-weekly['WeekLow']).show()

+------+----+----+--------+-------+----------+
|Ticker|Year|Week|WeekHigh|WeekLow|    Spread|
+------+----+----+--------+-------+----------+
|  AAPL|2018|   1|   39.63|  39.63|       0.0|
|  AAPL|2018|  22|    47.0|  46.81|0.18999863|
|  AAPL|2018|  23|   48.54|  47.79|      0.75|
|  AAPL|2018|  24|   48.11|  47.51| 0.6000023|
|  AAPL|2018|  25|   46.97|  46.29| 0.6800003|
|  AAPL|2018|  26|   46.57|  45.75| 0.8199997|
|  AAPL|2018|  27|   46.95|  45.96| 0.9900017|
|  AAPL|2018|  28|   47.77|  47.13| 0.6399994|
|  AAPL|2018|  29|   47.95|  47.42| 0.5300026|
|  AAPL|2018|  30|   48.75|  47.67| 1.0800018|
|  AAPL|2018|  31|   51.76|  47.58| 4.1799965|
|  AAPL|2018|  32|   52.33|  51.51| 0.8200035|
|  AAPL|2018|  33|   53.36|  51.93| 1.4300003|
|  AAPL|2018|  34|   54.53|  53.53|       1.0|
|  AAPL|2018|  35|   56.63|  54.29| 2.3400002|
|  AAPL|2018|  36|   57.25|  55.46| 1.7900009|
|  AAPL|2018|  37|   56.44|   54.5| 1.9399986|
|  AAPL|2018|  38|   55.54|  54.45| 1.0900002|
|  AAPL|2018|  39|    56.2|  54.21| 1.9900017|
|  AAPL|2018|  40|    57.7|  56.81| 0.8899994|
+------+----+----+--------+-------+----------+
only showing top 20 rows

**3.Joins**

In [ ]:
#Joins
historic_stocks= cleaned_stocks.join(yearly,
                                     (cleaned_stocks.Ticker==yearly.Ticker) & (cleaned_stocks.Year == yearly.Year),
                                     'inner'
).drop(yearly.Year,yearly.Ticker) #joining 2 tables to include yearly high and yearly low

In [ ]:
historic_stocks.show()

+----------+-------+------+------+------+------+-----+---+----+------+----+----------+---------+
|ParsedDate| Volume|  Open|   Low|  High| Close|Month|Day|Week|Ticker|Year|YearlyHigh|YearlyLow|
+----------+-------+------+------+------+------+-----+---+----+------+----+----------+---------+
|2023-05-31|6175417|321.12|319.39|322.41|321.08|    5| 31|  22| BRK-B|2023|     331.0|   294.68|
|2023-05-30|3232461|321.86| 319.0|322.47|322.19|    5| 30|  22| BRK-B|2023|     331.0|   294.68|
|2023-05-26|3229873|320.44|319.67|322.63| 320.6|    5| 26|  21| BRK-B|2023|     331.0|   294.68|
|2023-05-25|4251935|320.56|317.71|320.56|319.02|    5| 25|  21| BRK-B|2023|     331.0|   294.68|
|2023-05-24|3075393|322.71|319.56| 323.0| 320.2|    5| 24|  21| BRK-B|2023|     331.0|   294.68|
|2023-05-23|4031342|328.19|322.97|329.27|323.11|    5| 23|  21| BRK-B|2023|     331.0|   294.68|
|2023-05-22|2763422|330.75|328.35|331.49|329.13|    5| 22|  21| BRK-B|2023|     331.0|   294.68|
|2023-05-19|4323538| 331.0|329.12|333.94|330.39|    5| 19|  20| BRK-B|2023|     331.0|   294.68|
|2023-05-18|2808329|326.87|325.85|329.98|329.76|    5| 18|  20| BRK-B|2023|     331.0|   294.68|
|2023-05-17|3047626|325.02|324.82|328.26|327.39|    5| 17|  20| BRK-B|2023|     331.0|   294.68|
|2023-05-16|2139996|322.46|322.36|324.69|323.75|    5| 16|  20| BRK-B|2023|     331.0|   294.68|
|2023-05-15|2191609|322.89|320.13|323.83|323.53|    5| 15|  20| BRK-B|2023|     331.0|   294.68|
|2023-05-12|1938264|323.82|320.54|324.24|322.49|    5| 12|  19| BRK-B|2023|     331.0|   294.68|
|2023-05-11|2549339| 321.0|319.81|322.96|322.64|    5| 11|  19| BRK-B|2023|     331.0|   294.68|
|2023-05-10|2641134|326.08|320.15|326.16|322.99|    5| 10|  19| BRK-B|2023|     331.0|   294.68|
|2023-05-09|2285924|324.87|323.48|326.88|324.87|    5|  9|  19| BRK-B|2023|     331.0|   294.68|
|2023-05-08|3303393|328.26|325.79|330.69|326.14|    5|  8|  19| BRK-B|2023|     331.0|   294.68|
|2023-05-05|3876299|323.36|322.62|325.16|323.88|    5|  5|  18| BRK-B|2023|     331.0|   294.68|
|2023-05-04|3194768|323.44|317.41|325.99| 320.0|    5|  4|  18| BRK-B|2023|     331.0|   294.68|
|2023-05-03|2660456|327.13|323.06|328.07|323.22|    5|  3|  18| BRK-B|2023|     331.0|   294.68|
+----------+-------+------+------+------+------+-----+---+----+------+----+----------+---------+
only showing top 20 rows

In [ ]:
cond = [(historic_stocks.Ticker==weekly.Ticker) & (historic_stocks.Year == weekly.Year) & (historic_stocks.Week == weekly.Week)]
historic_stocks = historic_stocks.join(weekly, cond, 'inner').drop(historic_stocks.Ticker ,weekly.Year, weekly.Week) #joining table to include weekly high and weekly low

In [ ]:
historic_stocks.show()

+----------+-------+------+------+------+------+-----+---+----+----------+---------+------+----+--------+-------+
|ParsedDate| Volume|  Open|   Low|  High| Close|Month|Day|Year|YearlyHigh|YearlyLow|Ticker|Week|WeekHigh|WeekLow|
+----------+-------+------+------+------+------+-----+---+----+----------+---------+------+----+--------+-------+
|2023-05-31|6175417|321.12|319.39|322.41|321.08|    5| 31|2023|     331.0|   294.68| BRK-B|  22|  321.86| 321.12|
|2023-05-30|3232461|321.86| 319.0|322.47|322.19|    5| 30|2023|     331.0|   294.68| BRK-B|  22|  321.86| 321.12|
|2023-05-26|3229873|320.44|319.67|322.63| 320.6|    5| 26|2023|     331.0|   294.68| BRK-B|  21|  330.75| 320.44|
|2023-05-25|4251935|320.56|317.71|320.56|319.02|    5| 25|2023|     331.0|   294.68| BRK-B|  21|  330.75| 320.44|
|2023-05-24|3075393|322.71|319.56| 323.0| 320.2|    5| 24|2023|     331.0|   294.68| BRK-B|  21|  330.75| 320.44|
|2023-05-23|4031342|328.19|322.97|329.27|323.11|    5| 23|2023|     331.0|   294.68| BRK-B|  21|  330.75| 320.44|
|2023-05-22|2763422|330.75|328.35|331.49|329.13|    5| 22|2023|     331.0|   294.68| BRK-B|  21|  330.75| 320.44|
|2023-05-19|4323538| 331.0|329.12|333.94|330.39|    5| 19|2023|     331.0|   294.68| BRK-B|  20|   331.0| 322.46|
|2023-05-18|2808329|326.87|325.85|329.98|329.76|    5| 18|2023|     331.0|   294.68| BRK-B|  20|   331.0| 322.46|
|2023-05-17|3047626|325.02|324.82|328.26|327.39|    5| 17|2023|     331.0|   294.68| BRK-B|  20|   331.0| 322.46|
|2023-05-16|2139996|322.46|322.36|324.69|323.75|    5| 16|2023|     331.0|   294.68| BRK-B|  20|   331.0| 322.46|
|2023-05-15|2191609|322.89|320.13|323.83|323.53|    5| 15|2023|     331.0|   294.68| BRK-B|  20|   331.0| 322.46|
|2023-05-12|1938264|323.82|320.54|324.24|322.49|    5| 12|2023|     331.0|   294.68| BRK-B|  19|  328.26|  321.0|
|2023-05-11|2549339| 321.0|319.81|322.96|322.64|    5| 11|2023|     331.0|   294.68| BRK-B|  19|  328.26|  321.0|
|2023-05-10|2641134|326.08|320.15|326.16|322.99|    5| 10|2023|     331.0|   294.68| BRK-B|  19|  328.26|  321.0|
|2023-05-09|2285924|324.87|323.48|326.88|324.87|    5|  9|2023|     331.0|   294.68| BRK-B|  19|  328.26|  321.0|
|2023-05-08|3303393|328.26|325.79|330.69|326.14|    5|  8|2023|     331.0|   294.68| BRK-B|  19|  328.26|  321.0|
|2023-05-05|3876299|323.36|322.62|325.16|323.88|    5|  5|2023|     331.0|   294.68| BRK-B|  18|  330.15| 323.36|
|2023-05-04|3194768|323.44|317.41|325.99| 320.0|    5|  4|2023|     331.0|   294.68| BRK-B|  18|  330.15| 323.36|
|2023-05-03|2660456|327.13|323.06|328.07|323.22|    5|  3|2023|     331.0|   294.68| BRK-B|  18|  330.15| 323.36|
+----------+-------+------+------+------+------+-----+---+----+----------+---------+------+----+--------+-------+
only showing top 20 rows

In [ ]:
historic_stocks = historic_stocks.join(monthly, ['Ticker','Year','Month']) #join to include monthly high and monthly low

In [ ]:
historic_stocks.show()

+------+----+-----+----------+-------+------+------+------+------+---+----------+---------+----+--------+-------+---------+--------+
|Ticker|Year|Month|ParsedDate| Volume|  Open|   Low|  High| Close|Day|YearlyHigh|YearlyLow|Week|WeekHigh|WeekLow|MonthHigh|MonthLow|
+------+----+-----+----------+-------+------+------+------+------+---+----------+---------+----+--------+-------+---------+--------+
| BRK-B|2023|    5|2023-05-31|6175417|321.12|319.39|322.41|321.08| 31|     331.0|   294.68|  22|  321.86| 321.12|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-30|3232461|321.86| 319.0|322.47|322.19| 30|     331.0|   294.68|  22|  321.86| 321.12|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-26|3229873|320.44|319.67|322.63| 320.6| 26|     331.0|   294.68|  21|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-25|4251935|320.56|317.71|320.56|319.02| 25|     331.0|   294.68|  21|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-24|3075393|322.71|319.56| 323.0| 320.2| 24|     331.0|   294.68|  21|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-23|4031342|328.19|322.97|329.27|323.11| 23|     331.0|   294.68|  21|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-22|2763422|330.75|328.35|331.49|329.13| 22|     331.0|   294.68|  21|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-19|4323538| 331.0|329.12|333.94|330.39| 19|     331.0|   294.68|  20|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-18|2808329|326.87|325.85|329.98|329.76| 18|     331.0|   294.68|  20|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-17|3047626|325.02|324.82|328.26|327.39| 17|     331.0|   294.68|  20|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-16|2139996|322.46|322.36|324.69|323.75| 16|     331.0|   294.68|  20|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-15|2191609|322.89|320.13|323.83|323.53| 15|     331.0|   294.68|  20|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-12|1938264|323.82|320.54|324.24|322.49| 12|     331.0|   294.68|  19|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-11|2549339| 321.0|319.81|322.96|322.64| 11|     331.0|   294.68|  19|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-10|2641134|326.08|320.15|326.16|322.99| 10|     331.0|   294.68|  19|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-09|2285924|324.87|323.48|326.88|324.87|  9|     331.0|   294.68|  19|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-08|3303393|328.26|325.79|330.69|326.14|  8|     331.0|   294.68|  19|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-05|3876299|323.36|322.62|325.16|323.88|  5|     331.0|   294.68|  18|  330.15| 323.36|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-04|3194768|323.44|317.41|325.99| 320.0|  4|     331.0|   294.68|  18|  330.15| 323.36|    331.0|  320.44|
| BRK-B|2023|    5|2023-05-03|2660456|327.13|323.06|328.07|323.22|  3|     331.0|   294.68|  18|  330.15| 323.36|    331.0|  320.44|
+------+----+-----+----------+-------+------+------+------+------+---+----------+---------+----+--------+-------+---------+--------+
only showing top 20 rows

In [ ]:
historic_stocks.columns

['Ticker',
 'Year',
 'Month',
 'ParsedDate',
 'Volume',
 'Open',
 'Low',
 'High',
 'Close',
 'Day',
 'YearlyHigh',
 'YearlyLow',
 'Week',
 'WeekHigh',
 'WeekLow',
 'MonthHigh',
 'MonthLow']

In [ ]:
final_stocks = historic_stocks.select(['Ticker','Year','Month', 'Day', 'Week','Volume', 'Open','Low','High','Close','YearlyHigh','YearlyLow','WeekHigh','WeekLow','MonthHigh','MonthLow'])

In [ ]:
final_stocks.show()

+------+----+-----+---+----+-------+------+------+------+------+----------+---------+--------+-------+---------+--------+
|Ticker|Year|Month|Day|Week| Volume|  Open|   Low|  High| Close|YearlyHigh|YearlyLow|WeekHigh|WeekLow|MonthHigh|MonthLow|
+------+----+-----+---+----+-------+------+------+------+------+----------+---------+--------+-------+---------+--------+
| BRK-B|2023|    5| 31|  22|6175417|321.12|319.39|322.41|321.08|     331.0|   294.68|  321.86| 321.12|    331.0|  320.44|
| BRK-B|2023|    5| 30|  22|3232461|321.86| 319.0|322.47|322.19|     331.0|   294.68|  321.86| 321.12|    331.0|  320.44|
| BRK-B|2023|    5| 26|  21|3229873|320.44|319.67|322.63| 320.6|     331.0|   294.68|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5| 25|  21|4251935|320.56|317.71|320.56|319.02|     331.0|   294.68|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5| 24|  21|3075393|322.71|319.56| 323.0| 320.2|     331.0|   294.68|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5| 23|  21|4031342|328.19|322.97|329.27|323.11|     331.0|   294.68|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5| 22|  21|2763422|330.75|328.35|331.49|329.13|     331.0|   294.68|  330.75| 320.44|    331.0|  320.44|
| BRK-B|2023|    5| 19|  20|4323538| 331.0|329.12|333.94|330.39|     331.0|   294.68|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5| 18|  20|2808329|326.87|325.85|329.98|329.76|     331.0|   294.68|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5| 17|  20|3047626|325.02|324.82|328.26|327.39|     331.0|   294.68|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5| 16|  20|2139996|322.46|322.36|324.69|323.75|     331.0|   294.68|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5| 15|  20|2191609|322.89|320.13|323.83|323.53|     331.0|   294.68|   331.0| 322.46|    331.0|  320.44|
| BRK-B|2023|    5| 12|  19|1938264|323.82|320.54|324.24|322.49|     331.0|   294.68|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5| 11|  19|2549339| 321.0|319.81|322.96|322.64|     331.0|   294.68|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5| 10|  19|2641134|326.08|320.15|326.16|322.99|     331.0|   294.68|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|  9|  19|2285924|324.87|323.48|326.88|324.87|     331.0|   294.68|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|  8|  19|3303393|328.26|325.79|330.69|326.14|     331.0|   294.68|  328.26|  321.0|    331.0|  320.44|
| BRK-B|2023|    5|  5|  18|3876299|323.36|322.62|325.16|323.88|     331.0|   294.68|  330.15| 323.36|    331.0|  320.44|
| BRK-B|2023|    5|  4|  18|3194768|323.44|317.41|325.99| 320.0|     331.0|   294.68|  330.15| 323.36|    331.0|  320.44|
| BRK-B|2023|    5|  3|  18|2660456|327.13|323.06|328.07|323.22|     331.0|   294.68|  330.15| 323.36|    331.0|  320.44|
+------+----+-----+---+----+-------+------+------+------+------+----------+---------+--------+-------+---------+--------+
only showing top 20 rows

In [ ]:
#SQL Queries using pyspark

In [ ]:
final_stocks.createOrReplaceTempView('stocksData') # register a DataFrame as a temporary table (view) in the Spark SQL context

In [ ]:
spark.sql("SELECT * FROM stocksData where Ticker='MSFT' and Year='2023'").show(5)

+------+----+-----+---+----+--------+------+------+------+------+----------+---------+--------+-------+---------+--------+
|Ticker|Year|Month|Day|Week|  Volume|  Open|   Low|  High| Close|YearlyHigh|YearlyLow|WeekHigh|WeekLow|MonthHigh|MonthLow|
+------+----+-----+---+----+--------+------+------+------+------+----------+---------+--------+-------+---------+--------+
|  MSFT|2023|    5| 31|  22|45950550|332.29|327.33|335.94|328.39|    335.23|    223.0|  335.23| 332.29|   335.23|  305.72|
|  MSFT|2023|    5| 30|  22|29503070|335.23|330.52|335.74|331.21|    335.23|    223.0|  335.23| 332.29|   335.23|  305.72|
|  MSFT|2023|    5| 26|  21|36630630|324.02|323.88| 333.4|332.89|    335.23|    223.0|  324.02| 314.73|   335.23|  305.72|
|  MSFT|2023|    5| 25|  21|43301740|323.24| 320.0| 326.9|325.92|    335.23|    223.0|  324.02| 314.73|   335.23|  305.72|
|  MSFT|2023|    5| 24|  21|23384890|314.73|312.61| 316.5|313.85|    335.23|    223.0|  324.02| 314.73|   335.23|  305.72|
+------+----+-----+---+----+--------+------+------+------+------+----------+---------+--------+-------+---------+--------+
only showing top 5 rows

**4. Advanced Analysis**

In [ ]:
snapshot = cleaned_stocks.select(['Ticker','ParsedDate','Open'])

In [ ]:
snapshot.show()

+------+----------+------+
|Ticker|ParsedDate|  Open|
+------+----------+------+
| BRK-B|2023-05-31|321.12|
| BRK-B|2023-05-30|321.86|
| BRK-B|2023-05-26|320.44|
| BRK-B|2023-05-25|320.56|
| BRK-B|2023-05-24|322.71|
| BRK-B|2023-05-23|328.19|
| BRK-B|2023-05-22|330.75|
| BRK-B|2023-05-19| 331.0|
| BRK-B|2023-05-18|326.87|
| BRK-B|2023-05-17|325.02|
| BRK-B|2023-05-16|322.46|
| BRK-B|2023-05-15|322.89|
| BRK-B|2023-05-12|323.82|
| BRK-B|2023-05-11| 321.0|
| BRK-B|2023-05-10|326.08|
| BRK-B|2023-05-09|324.87|
| BRK-B|2023-05-08|328.26|
| BRK-B|2023-05-05|323.36|
| BRK-B|2023-05-04|323.44|
| BRK-B|2023-05-03|327.13|
+------+----------+------+
only showing top 20 rows

In [ ]:
from pyspark.sql.window import Window #window function

In [ ]:
lag1Day = Window.partitionBy("Ticker").orderBy("ParsedDate")

In [ ]:
snapshot.withColumn("PreviousOpen", func.lag("Open", 1).over(lag1Day)).show() #showing the open price of the previous day

+------+----------+-----+------------+
|Ticker|ParsedDate| Open|PreviousOpen|
+------+----------+-----+------------+
|  AAPL|2018-05-31|46.81|        NULL|
|  AAPL|2018-06-01| 47.0|       46.81|
|  AAPL|2018-06-04|47.91|        47.0|
|  AAPL|2018-06-05|48.27|       47.91|
|  AAPL|2018-06-06|48.41|       48.27|
|  AAPL|2018-06-07|48.54|       48.41|
|  AAPL|2018-06-08|47.79|       48.54|
|  AAPL|2018-06-11|47.84|       47.79|
|  AAPL|2018-06-12|47.85|       47.84|
|  AAPL|2018-06-13|48.11|       47.85|
|  AAPL|2018-06-14|47.89|       48.11|
|  AAPL|2018-06-15|47.51|       47.89|
|  AAPL|2018-06-18|46.97|       47.51|
|  AAPL|2018-06-19|46.29|       46.97|
|  AAPL|2018-06-20|46.59|       46.29|
|  AAPL|2018-06-21|46.81|       46.59|
|  AAPL|2018-06-22|46.53|       46.81|
|  AAPL|2018-06-25|45.85|       46.53|
|  AAPL|2018-06-26|45.75|       45.85|
|  AAPL|2018-06-27|46.31|       45.75|
+------+----------+-----+------------+
only showing top 20 rows

In [ ]:
#Calculatng moving averages
movingAverage = Window.partitionBy("Ticker").orderBy("ParsedDate").rowsBetween(-50,0)

In [ ]:
(snapshot.withColumn("MA50", func.avg("Open").over(movingAverage))
         .withColumn("MA50", func.round("MA50", 2))).show()

+------+----------+-----+-----+
|Ticker|ParsedDate| Open| MA50|
+------+----------+-----+-----+
|  AAPL|2018-05-31|46.81|46.81|
|  AAPL|2018-06-01| 47.0|46.91|
|  AAPL|2018-06-04|47.91|47.24|
|  AAPL|2018-06-05|48.27| 47.5|
|  AAPL|2018-06-06|48.41|47.68|
|  AAPL|2018-06-07|48.54|47.82|
|  AAPL|2018-06-08|47.79|47.82|
|  AAPL|2018-06-11|47.84|47.82|
|  AAPL|2018-06-12|47.85|47.82|
|  AAPL|2018-06-13|48.11|47.85|
|  AAPL|2018-06-14|47.89|47.86|
|  AAPL|2018-06-15|47.51|47.83|
|  AAPL|2018-06-18|46.97|47.76|
|  AAPL|2018-06-19|46.29|47.66|
|  AAPL|2018-06-20|46.59|47.59|
|  AAPL|2018-06-21|46.81|47.54|
|  AAPL|2018-06-22|46.53|47.48|
|  AAPL|2018-06-25|45.85|47.39|
|  AAPL|2018-06-26|45.75| 47.3|
|  AAPL|2018-06-27|46.31|47.25|
+------+----------+-----+-----+
only showing top 20 rows

In [ ]:
maximumStock = Window.partitionBy('Ticker').orderBy(snapshot.Open.desc())

In [ ]:
#Calculating top 5 highest open price for each stock in a year
snapshot.withColumn("MaxOpen", func.row_number().over(maximumStock)).filter("MaxOpen<=5").show()

+------+----------+------+-------+
|Ticker|ParsedDate|  Open|MaxOpen|
+------+----------+------+-------+
|  AAPL|2022-01-04|182.63|      1|
|  AAPL|2021-12-13|181.12|      2|
|  AAPL|2021-12-28|180.16|      3|
|  AAPL|2022-01-05|179.61|      4|
|  AAPL|2021-12-30|179.47|      5|
|  AMZN|2021-07-12| 187.2|      1|
|  AMZN|2021-07-09|186.13|      2|
|  AMZN|2021-07-07|185.87|      3|
|  AMZN|2021-11-19|185.63|      4|
|  AMZN|2021-07-14|185.44|      5|
| BRK-B|2022-03-29|361.39|      1|
| BRK-B|2022-03-28|360.59|      2|
| BRK-B|2022-03-31| 359.0|      3|
| BRK-B|2022-03-30|354.66|      4|
| BRK-B|2022-03-25| 353.9|      5|
| GOOGL|2022-02-02|151.25|      1|
| GOOGL|2021-11-19|149.98|      2|
| GOOGL|2021-11-08|149.83|      3|
| GOOGL|2021-11-22|149.33|      4|
| GOOGL|2021-11-09|149.23|      5|
+------+----------+------+-------+
only showing top 20 rows

In [ ]:
result =snapshot.withColumn("MaxOpen", func.row_number().over(maximumStock)).filter("MaxOpen<=5")

**5.Saving Data**

In [ ]:
# CSV Format
(result.write.option("header",True)
            .partitionBy("Ticker","ParsedDate")
            .csv("Result_CSV"))